* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #5871B0;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding: 20px 35px;
    background-color: #303645;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #5871B0;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: #303645;
    border: 3px solid #ADE4E5;
    background-color: #ADE4E5;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-size: 22px;
    text-decoration: underline 5px;
    color: #ADE4E5;
    border: none;
    background-color: #303645;
}

footer nav {
    float: inline-start;
    margin: 7px 0;
}

footer nav ul li {
    display: inline;
}

footer nav ul li a {
    margin: 0 30px;
    font-weight: normal;
    font-size: 22px;
    color: #5871B0;
    text-decoration: underline 5px;
}

section {
    padding: 60px;
    font-size: 36px;
}

section p {
    font-size: 22px;
}

/* Hero Style Start */
.hero {
    background-image: url('../images/blue-and-pink-fence.webp');
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero a {
    font-weight: bold;
    font-size: 36px;
    color: #303645;
    margin: 0;
    display: inline;
    text-decoration: none;
    border: 3px solid #ADE4E5;
    background-color: #ADE4E5;
    text-align: right;
    float: right;
    position: relative; top: 250px;
    
}

.profile-pic {
    float: left;
    position: absolute; top: 15px; left: 10px;
}
/* Hero Style End */

.flex-item {
    border: 5px solid var(--secondary);
    background-color: var(--primary);
    color: var(--tertiary);
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
}

/* feature first portfolio item */
.flex-item:first-child {
    min-height: 400px;
    flex-basis: 100%;
}

.flex-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.flex-item div {
    background-color: var(--secondary);
    padding: 8px 10px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}